<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de avaliação</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header>
    <div>
        <h1>Avaliação dos alunos</h1>
    </div>
</header>
<main>
    <h2>Notas Alunos ADS 1 Semestre</h2>
    <div id="alunos">
        <h2>Total de alunos</h2>
        <ul>
            {% for aluno in dados %}
                <li>{{ aluno.nome }}</li>
            {% endfor %}
        </ul>
    </div>
    <canvas id="grafico"></canvas>

    <script>
        var notas = "{{ notas }}";
    
        var ctx = document.getElementById('grafico').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Aluno 1', 'Aluno 2', 'Aluno 3', 'Aluno 4', 'Aluno 5', 'Aluno 6'], // Substitua pelos nomes dos alunos
                datasets: [{
                    label: 'Notas',
                    data: notas,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</main>
</body>
</html>
